{% extends 'base.html.twig' %}

{% block title %}Nous contacter L'espace Vert en Ligne.{% endblock %}

{% block content %}
    <h2>Nous Contacter</h2>
    <p>N'hesitez pas à prendre contact avec notre société</p>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <br>
            <strong> Espace Vert en Ligne </strong><br>
            <img src="{{ asset('/assets/img/logo.jpg') }}" width="100" height="100" class="" alt="logo Espace Vert en ligne"><br>
            
            265 rue des bois, 75000 Paris.<br>
            01 02 03 04 05<br>
            EspaceVertEnLigne@gmail.com<br>

        </div>
    </div>
{% endblock %}
